* {
  font-family: "Baloo Da 2", sans-serif;
}

body {
  background-color: #ffffff;
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.icons {
  display: flex;
  margin-right: 40px;
  margin-top: -7px;
}

.hamburger {
  width: 40px;
  margin-top: 15px;
  margin-left: 38px;
}

.account {
  width: 35px;
  margin-top: 25px;
  margin-left: 50px;
}

.list {
  width: 35px;
  margin-top: 8px;
  margin-left: 50px;
}

.heart-top {
  width: 35px;
  margin-top: 8px;
  margin-left: 50px;
}

.headphoto {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.headline-breakfast {
  margin-top: 80px;
  font-size: 40pt;
  margin-left: 116px;
}

.line {
  height: 1px;
  width: 600px;
  background-color: black;
  margin-left: 110px;
}

.sub-heading {
  font-size: 25pt;
  text-transform: uppercase;
  font-weight: 500;
  margin-left: 160px;
  margin-top: 60px;
}

.nested {
  display: flex;
  justify-content: space-around;
  margin-left: 120px;
  margin-right: 120px;
}

.kcal,
.protein,
.fat,
.carbs {
  background-color: #eeeeee;
  padding: 10px;
  margin-top: 60px;
  border-radius: 11px;
  width: 200px;
  height: 230px;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.kcal {
  background-color: #f5d151;
}

.box1,
.box2,
.box3,
.box4 {
  display: flex;
  background-color: white;
  width: 200px;
  height: 100px;
  position: absolute;
  border-radius: 11px;
  font-size: 22pt;
  font-weight: 500;
  text-transform: uppercase;
  justify-content: center;
}

.grams1,
.grams2,
.grams3,
.grams4 {
  margin-top: 30px;
}

.kcal-text,
.protein-text,
.fat-text,
.carbs-text {
  margin-top: 150px;
  display: flex;
  justify-content: center;
  font-size: 20pt;
  font-weight: 500;
  text-transform: uppercase;
}

.sub-heading2 {
  font-size: 25pt;
  text-transform: uppercase;
  font-weight: 500;
}

.sub-heading3 {
  font-size: 25pt;
  text-transform: uppercase;
  font-weight: 500;
}

.ingredients-info {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 20pt;
  text-transform: uppercase;
  margin-left: 160px;
}

.info-list {
  border-radius: 11px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 200px;
  height: 200px;
  width: 400px;
  line-height: 70px;
  margin-right: 160px;
  margin-top: 93px;
}

.info-li {
  background-color: #eeeeee;
  border-radius: 11px;
  padding-left: 100px;
  padding-bottom: 70px;
  height: 200px;
  width: 400px;
  line-height: 70px;
  margin-right: 50px;
  padding-top: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.ingredients-list {
  width: 600px;
  margin-top: 100px;
}

.buttons {
  display: flex;
  justify-content: space-around;
  font-size: 20pt;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 100px;
}

.button1,
.button2 {
  background-color: #f5d151;
  border-radius: 11px;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

.button1:hover {
  background-color: #f5d151;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.01);
}

.button2:hover {
  background-color: #f5d151;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.01);
}

.button1 {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  color: black;
}

.footer-all {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #aaaaaa;
  margin-top: 150px;
  padding-top: 15px;
}

.footer {
  width: 100%;
  height: 170px;
}

.footer2 {
  display: flex;
  flex-direction: row;
  margin-left: 300px;
}

.instagram {
  width: 40px;
  height: 40px;
  margin-top: 60px;
  padding: 5px;
}

.facebook {
  width: 33px;
  padding-right: 9px;
}

.twt {
  width: 45px;
  padding-left: 3px;
}

.follow {
  font-size: 18pt;
  text-transform: uppercase;
  font-weight: 500;
  margin-right: -120px;
}

.home-f,
.policy-f,
.tc-f {
  margin-left: 80px;
  text-transform: uppercase;
  font-size: 17px;
}

#Added {
  background-color: #ffffff;
  margin-left: 300px;
  margin-right: 300px;
  border-radius: 11px;
  padding-top: 40px;
  padding-bottom: 50px;
  margin-top: 90px;
}

.Name1 {
  text-align: center;
  font-size: 70px;
  margin-left: 20px;
  text-transform: uppercase;
  background-color: #ffffff;
  font-weight: 550;
}

.Name2 {
  text-align: center;
  font-size: 70px;
  /* margin-left: 350px; */
  margin-top: 10px;
  text-transform: uppercase;
  background-color: #ffffff;
  font-weight: 550;
}
/*
      .Buttons {
         
      } */

.Buttons {
  display: flex;
  column-gap: 30px;
  background-color: #ffffff;
}

/* https://stackoverflow.com/questions/5703552/how-can-i-center-text-horizontally-and-vertically-inside-a-div-block
      center text */

.Continue {
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
  background-color: #f5d151;
  border-radius: 11px;
  margin-top: 80px;
  margin-left: 50px;
  text-transform: uppercase;
  font-size: 30px;
  width: 600px;
  height: 100px;
  padding: 10px;
  font-weight: 550;
}

.Order {
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
  background-color: #f5d151;
  border-radius: 11px;
  margin-top: 80px;
  margin-right: 50px;
  text-transform: uppercase;
  font-size: 30px;
  width: 600px;
  height: 100px;
  padding: 10px;
  font-weight: 550;
}

.Continue:hover {
  background-color: #f5d151;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.01);
}

.Order:hover {
  background-color: #f5d151;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.01);
}

/* create overlay
   https://www.w3schools.com/howto/howto_css_overlay.asp */

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8); /* Black background with opacity */
  /* Specify a stack order in case you're using a different order for other elements */
  /* Add a pointer on hover */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.Mobileheadphoto2 {
  display: none;
}

@media screen and (max-width: 890px) {
  .Mobileheadphoto2 {
    display: block;
    width: 100%;
    height: 600px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  }

  .headphoto {
    display: none;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  }

  .headline-breakfast {
    margin-top: 80px;
    font-size: 30pt;
    margin-left: 30px;
  }

  .line {
    height: 1px;
    width: 360px;
    background-color: black;
    margin-left: 20px;
  }

  .sub-heading,
  .sub-heading2,
  .sub-heading3 {
    font-size: 23pt;
    text-transform: uppercase;
    font-weight: 500;
    margin-left: 30px;
    margin-top: 40px;
  }

  .nested {
    display: grid;
    grid-column-gap: 25px;
    grid-template-columns: 1fr 0.5fr;
    justify-content: space-around;
    margin-left: 100px;
    margin-right: 120px;
  }

  .kcal,
  .protein,
  .fat,
  .carbs {
    background-color: #eeeeee;
    padding: 10px;
    margin-top: 60px;
    border-radius: 11px;
    width: 120px;
    height: 130px;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  }

  .kcal {
    background-color: #f5d151;
  }

  .box1,
  .box2,
  .box3,
  .box4 {
    background-color: white;
    width: 120px;
    height: 80px;
    position: absolute;
    border-radius: 11px;
    font-size: 22pt;
    font-weight: 500;
    text-transform: uppercase;
    justify-content: center;
  }

  .grams1,
  .grams2,
  .grams3,
  .grams4 {
    margin-top: 20px;
  }

  .kcal-text,
  .protein-text,
  .fat-text,
  .carbs-text {
    margin-top: 93px;
    display: flex;
    justify-content: center;
    font-size: 17pt;
    font-weight: 500;
    text-transform: uppercase;
  }

  .kcal-box {
    grid-column: 1;
    grid-row: 1;
  }

  .protein-box {
    grid-column: 2;
    grid-row: 1;
  }

  .fat-box {
    grid-column: 1;
    grid-row: 2;
  }

  .carbs-box {
    grid-column: 2;
    grid-row: 2;
  }

  .ingredients-info {
    display: grid;
    margin-top: 10px;
    font-size: 17pt;
    text-transform: uppercase;
    margin-left: 0px;
  }

  .info-list {
    grid-row: 2;
    border-radius: 11px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 200px;
    height: 200px;
    width: 400px;
    line-height: 70px;
    margin-right: 0px;
    margin-top: 50px;
    margin-left: 12px;
  }

  .ingredients-list {
    font-size: 17pt;
    text-transform: lowercase;
    grid-row: 1;
    width: 385px;
    margin-left: 20px;
    margin-top: 50px;
  }

  .info-li {
    grid-row: 2;
    background-color: #eeeeee;
    border-radius: 11px;
    padding-left: 50px;
    padding-bottom: 0px;
    height: 200px;
    width: 320px;
    line-height: 50px;
    padding-top: 40px;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  }

  .buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
    font-size: 20pt;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 50px;
  }

  .button1,
  .button2 {
    background-color: #f5d151;
    border-radius: 11px;
    padding: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .button1 {
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    color: black;
  }

  .button2 {
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    color: black;
  }

  .button1:hover {
    background-color: #f5d151;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    transform: scale(1.01);
  }

  .button2:hover {
    background-color: #f5d151;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    transform: scale(1.01);
  }

  #Added {
    background-color: #ffffff;
    margin-left: 30px;
    margin-right: 50px;
    border-radius: 11px;
    padding-top: 40px;
    padding-bottom: 50px;
    margin-top: 200px;
    width: 350px;
    height: 270px;
  }

  .Name1 {
    text-align: center;
    font-size: 40px;
    margin-left: 20px;
    text-transform: uppercase;
    background-color: #ffffff;
    font-weight: 550;
  }

  .Name2 {
    text-align: center;
    font-size: 40px;
    /* margin-left: 350px; */
    margin-top: 10px;
    text-transform: uppercase;
    background-color: #ffffff;
    font-weight: 550;
  }
  /*
     .Buttons {
        
     } */

  .Buttons {
    display: flex;
    column-gap: 30px;
    background-color: #ffffff;
  }

  /* https://stackoverflow.com/questions/5703552/how-can-i-center-text-horizontally-and-vertically-inside-a-div-block
     center text */

  .Continue {
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    background-color: #f5d151;
    border-radius: 11px;
    margin-top: 30px;
    margin-left: 30px;
    text-transform: uppercase;
    font-size: 20px;
    width: 600px;
    height: 70px;
    padding: 10px;
    font-weight: 550;
  }

  .Order {
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    background-color: #f5d151;
    border-radius: 11px;
    margin-top: 30px;
    margin-right: 30px;
    text-transform: uppercase;
    font-size: 20px;
    width: 600px;
    height: 70px;
    padding: 10px;
    font-weight: 550;
  }

  .Continue:hover {
    background-color: #f5d151;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    transform: scale(1.01);
  }

  .Order:hover {
    background-color: #f5d151;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    transform: scale(1.01);
  }

  /* create overlay
  https://www.w3schools.com/howto/howto_css_overlay.asp */

  #overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8); /* Black background with opacity */
    /* Specify a stack order in case you're using a different order for other elements */
    /* Add a pointer on hover */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }

  .footer-all {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #aaaaaa;
    margin-top: 150px;
    padding-top: 15px;
  }

  .footer {
    width: 100%;
    height: 170px;
  }

  .footer2 {
    display: flex;
    flex-direction: row;
    margin-left: 35px;
  }

  .instagram {
    width: 33px;
    height: 33px;
    margin-top: 63px;
    padding: 5px;
  }

  .facebook {
    width: 28px;
    padding-right: 9px;
  }

  .twt {
    width: 38px;
    padding-left: 3px;
  }

  .follow {
    font-size: 18pt;
    text-transform: uppercase;
    font-weight: 400;
    margin-right: -120px;
  }

  .home-f,
  .policy-f,
  .tc-f {
    margin-left: 20px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
  }

  .home-f {
    margin-top: 55px;
  }
}
